<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Dashboard Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metro.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style_responsive.css" rel="stylesheet" />
    <link href="~/Content/style_default.css" rel="stylesheet" id="style_color" />
    <link rel="stylesheet" type="text/css" href="~/Content/uniform.default.css" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="../img/logo-big.png" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="form-vertical login-form" action="@Url.Action("Giris", "Home")" method="post">
            <h3 class="form-title">Bursiyer Oturumu</h3>
            <div class="alert alert-error hide">
                <button class="close" data-dismiss="alert"></button>
                <span>Oturum Bilgilerini Doldurun </span>
            </div>
            <div class="control-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Hesab Adı</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-user"></i>
                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Hesab Adı" name="username" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Parola</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="Parola" name="password" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <div class="checker" id="uniform-undefined">
                        <span>
                            <input type="checkbox" name="remember" value="1" style="opacity: 0;"></span>
                    </div>
                    Beni Hatırla
                </label>
                <button type="submit" class="btn green pull-right">
                    Giriş <i class="m-icon-swapright m-icon-white"></i>
                </button>


            </div>



            <div class="forget-password">
                <h4>Parolanızımı Unutunuz ?</h4>
                <p>
                    Parolanızı sıfırlamak için <a href="javascript:;" class="" id="forget-password">Burayı tıklayın</a>
                </p>
            </div>
            <div class="create-account">
                <p>
                    Henüz bir hesabınız yokmu ?&nbsp; 
          <a href="javascript:;" id="register-btn" class="">Kaydol</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="form-vertical forget-form" action="@Url.Action("SifreHatirlat", "Home")" method="post">
            <h3 class="">Parolanızımı Utunuz ?</h3>
            <p>Parolanızı sıfırlamak için Email adresinizi girin.</p>
            <div class="control-group">
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i>Geri
                </button>
                <button type="submit" class="btn green pull-right">
                    Gönder <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="form-vertical register-form" action="@Url.Action("KayitYap", "Home")" method="post">
            <h3 class="">Kaydolma Formu</h3>
            <p>Forma hesab bilgileriniz girin:</p>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Hesab Adı</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-user"></i>
                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Hesab Adı" name="username" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Parola</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        <input class="m-wrap placeholder-no-fix" type="password" id="register_password" placeholder="Parola" name="password" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Tekrar Parolanızı Girin</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-ok"></i>
                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="Tekrar Parolanızı Girin" name="rpassword" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        <input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="tnc" />
                        I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
                    </label>
                    <div id="register_tnc_error"></div>
                </div>
            </div>
            <div class="form-actions">
                <button id="register-back-btn" type="button" class="btn">
                    <i class="m-icon-swapleft"></i>Geri
                </button>
                <button type="submit" id="register-submit-btn" class="btn green pull-right">
                    Kaydol <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        Ücretsizdir ve Herzaman Ücretsiz Kalacaktır.
      <br />
        2013 &copy; Bursiyer.
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS -->
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.uniform.min.js"></script>
    <script src="~/Scripts/jquery.blockui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.initLogin();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
